.cards-list {
  display: flex;
  /* flex-wrap: nowrap; */
  gap: 20px;
  overflow-x: auto;
}

.card {
  display: flex;
  flex-direction: column;
  width: 175px;
  flex: 0 0 auto;
  position: relative;
}

.card--photo {
  width: 100%;
  object-fit: cover;
  border-radius: 9px;
}

.card--text,
.card--rating {
  font-size: 12px;
  font-weight: 300;
}

.card--text > p {
  margin: 0.4em 0;
}

.card--rating {
  display: flex;
  align-items: center;
  margin-top: 0.4em;
  gap: 0.3em;
}

.card--star {
  width: 14px;
}

.card--badge {
  position: absolute;
  top: 6px;
  left: 6px;
  background-color: white;
  padding: 5px 7px;
  border-radius: 7px;
  font-weight: bold;
  font-size: 0.7em;
}
